build/
venv/*
*.py[cod]
*.apk
__pycache__/
.cache/*
.coverage
.idea
.idea/misc.xml
.gradle/
*.egg-info
test-reports/
orchestrator/venv/
*.iml
.mypy_cache/
testbutlerservice/local.properties
testsupportapps/local.properties
