[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = orchestrator for executing mobile apps against a device (setup, execution, teardown, test vector uploads, ...)
[access "refs/*"]
	owner = group user/jrusnakli
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jrusnakli
	label-Verified = -1..+1 group user/jrusnakli
	push = group user/jrusnakli
	read = group user/jrusnakli
	rebase = group user/jrusnakli
	removeReviewer = group user/jrusnakli
	submit = group user/jrusnakli
[access "refs/heads/*"]
	create = group user/jrusnakli
	push = +force group user/jrusnakli
	pushMerge = group user/jrusnakli
	read = group user/jrusnakli
[access "refs/tags/*"]
	push = group user/jrusnakli
	push = +force group user/jrusnakli
