<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.linkedin.mdctest.test"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <!-- permission used for tracking overlay, only included in beta/debug builds, not the production app -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace"/>

</manifest>

